@charset 'UTF-8';
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-size: 1.6em;
  overflow-x: hidden;
  font-family: 'Noto Serif JP', serif;
}

a {
  text-decoration: none;
  color: #000;
  display: block;
}

h3 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 3rem;
  font-weight: normal;
  margin: 1.5rem 0;
  display: inline-block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  width: 100vw;
  background-color: #fff;
  z-index: 50;
  color: #000;
}

.fixed-nav {
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 50;
}

.fixed-nav li a {
  color: #fff;
}

.fixed-nav ul {
  margin: 1.5rem 0;
  vertical-align: middle;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li {
  list-style: none;
  font-size: 1.4rem;
}

nav ul li a:hover {
  color: rgb(210, 176, 113);
}

nav ul li a {
  padding: .9rem;
  transition: all 0.5s ease-in-out;
}

.resev {
  background-color: transparent;
  border: 1px solid rgb(210, 176, 113);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.resev i {
  padding-right: 5px;
}

.resev:hover {
  background-color: rgba(210, 176, 113);
  color: #000 !important;
}

.resev a:hover {
  color: #000;
}

.logo {
  position: absolute;
  top: -11rem;
  left: 1rem;
  z-index: 10;
}

.logo img {
  width: 90%;
  max-width: 90%;
  height: auto;
}

.toppage {
  position: relative;
}

.logo02 {
  position: absolute;
  bottom: -1rem;
  right: 7rem;
  z-index: 60;
}

.logo02 img {
  width: 100%;
  max-width: 100%;
  height: auto;

}

.top-slide img {
  margin: 0 auto;
  width: 75%;
  height: auto;
}

.top-slide {
  opacity: 0;
  transition: 1.5s;
  margin-top: 12rem;
}

.slick-initialized {
  opacity: 1
}

.concept {
  margin-top: 5rem;
  width: 100vw;
}

.concept h3 {
  padding-left: 8rem;

}

.concept h3:after,
.naildesign h3:after,
.shopinfo h3:after {
  content: "";
  display: block;
  height: 3px;
  background: -webkit-linear-gradient(to right, rgb(210, 176, 113), transparent);
  background: linear-gradient(to right, rgb(210, 176, 113), transparent);
}

.news h3:after,
.price h3:after {
  content: "";
  height: 3px;
  display: block;
  margin: 0 auto;
  padding-left: 2rem;
  background: -webkit-linear-gradient(to right, rgb(210, 176, 113), transparent);
  background: linear-gradient(to right, rgb(210, 176, 113), transparent);
  transform: rotate(180deg);
}

.concept h3::first-letter,
.news h3::first-letter,
.price h3::first-letter,
.naildesign h3::first-letter,
.shopinfo h3::first-letter {
  font-size: 4.8rem;
}

.concept_wrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.concept_left img {
  width: 100%;
  max-width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%) blur(0.6px) drop-shadow(-25px 10px 15px #666);
  -moz-filter: grayscale(100%) blur(0.6px) drop-shadow(-25px 10px 15px #666);
  -ms-filter: grayscale(100%) blur(0.6px) drop-shadow(-25px 10px 15px #666);
  -o-filter: grayscale(100%) blur(0.6px) drop-shadow(-25px 10px 15px #666);
  filter: grayscale(100%) blur(0.6px) drop-shadow(-15px 10px 15px #666);
  margin-top: 2rem;
  text-align: center;
}

.concept_right {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
}

.concept_left {
  margin: 0 auto;
  text-align: center;
}

.concept_letter h4 {
  margin: 1rem 0;
  font-size: 2.1rem;
  letter-spacing: -.1rem;
}

.concept_letter p {
  font-size: 1.5rem;
}

.news h3 {
  padding-top: 3rem;
}

.price h3 {
  padding-top: 2rem;
}

.center {
  text-align: center;
}

.news{
  width:100vw;
}

.news table {
  margin: 0 auto;
  font-size: 1.4rem;
}

.news tr a,
.news a {
  text-decoration: none;
  color: #000;
}

.news tr:hover,
.news p:hover {
  cursor: pointer;
  opacity: 0.8;
}

.news table td:first-child {
  width: 9rem;
}

.news table td {
  padding-top: 1.3rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  border-bottom: 1px solid #666;
}

.news p {
  text-align: right;
  padding-top: 1.3rem;
  font-size: 1.2rem;
  width: 55rem;
  margin: 0 auto;
}

.naildesign h3,
.shopinfo h3 {
  padding-left: 5rem;
  margin-top: 3rem;
}

.design_wrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 5rem;
}

.design_wrapper>div {
  position: relative;
}

.mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 98%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(245, 244, 244);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.design_wrapper>div:hover .mask {
  cursor: pointer;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.mask:after {
  content: 'More detail...';
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  margin: 0 auto;
}

.design_wrapper img {
  width: 17vw;
  height: auto;
  border-radius: 50%;
}

.naildesign .other_d {
  margin: 0 auto;
  width: 130px;
  padding-top: 2rem;
  text-align: center;
}

.naildesign .insta {
  font-weight: bold;
  text-align: center;
  padding-right: 1rem;
  font-size: 2rem;
  transition: all 0.5s ease-in-out;
  width: 136px;
  margin-left: auto;
}

.insta a:hover {
  color: rgba(210, 176, 113);
}

.other_d a:hover {
  opacity: 0.8;
}

.naildesign p i {
  padding: 0 .5rem;
  font-size: 3rem;
}

.price th {
  font-size: 1.8rem;
  border-bottom: 1px solid #666;
  padding-top: 1.5rem;
}

.price td {
  height: 5vh;
}

.price td:first-child {
  width: 30rem;
}

.price table {
  width: 450px;
}

.price_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}


.shop_wrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.shop_wrapper>div {
  margin-top: 3rem;
}

.shop {
  border-collapse: separate;
  width: 30rem;
  margin: 0 auto;
  display: inline-block;
}

.shop i {
  padding-right: 10px;

}

.salon img {
  width: 100%;
  max-width: 100%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.salon {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.salon > div {
  margin: 0 auto;
  text-align: center;
}

.shop td {
  padding: .5rem 0 .5rem 5rem
}

.shop td span,
.shop td span a {
  display: block;
  background-color: rgb(210, 176, 113);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  padding: .6rem 0;
}

td span:hover,
td span a:hover {
  background-color: transparent;
  border: 1px solid rgb(210, 176, 113);
}

.shopinfo p:nth-child(5) {
  margin-top: 1rem;
}

.shopinfo p:nth-child(5),
.shopinfo p:nth-child(6) {
  font-size: 1.3rem;
}

iframe {
  width: 40rem;
  height: 30rem;
}

footer {
  width: 100vw;
  background-image: url(../img/footer.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  text-align: center;
  padding: 3rem 0 .5rem;
  font-family: sans-serif;
  z-index: 1;
}

footer::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

footer div:first-child {
  position: relative;
  z-index: 10;
}

footer img {
  margin-bottom: 1rem;
}

footer li {
  display: block;
  width: 35px;
  height: 35px;
  margin: 0;
  border: 1px solid #fff;
  border-radius: 50%;
  line-height: 38px;
  text-align: center;
}

.email {
  position: relative;
  width: 220px;
  border: 1px solid #fff;
  border-radius: 0 10px 0 0;
  margin: 3rem auto;
  font-size: 14px;
  display: inline-block;
  text-align: right;
  top: -2rem;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.email a {
  padding: 1.6rem 2rem;
}

.email i {
  padding-right: .9rem;
  font-size: 2.5rem;
  position: absolute;
  left: 13px;
}

footer a {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.tel {
  display: inline-block;
  margin: 3rem 1rem;
  font-size: 3rem;
  position: relative;
  z-index: 10;
}

footer p {
  font-size: 13px;
  z-index: 10;
  position: relative;
}

.tel i {
  font-size: 2.5rem;
   display: inline;
  vertical-align: middle;
}


footer ul {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
  margin-bottom: 2rem;
}

footer ul li {
 margin: 1rem .7rem;
  font-size: 1.9rem;
  transition: all 0.3s ease-in-out;
}

footer ul li:hover,
footer a:hover,
.email:hover {
  color: rgba(210, 176, 113);
  border-color: rgba(210, 176, 113);
}

/*Javascript カレンダー*/
.calendar {
  margin: 5rem 5rem 5rem 0;
  text-align: center;
  font-size: 1.3rem;
}

.calendar>div {
  display: inline-block;
  margin-left: 5rem;
  margin-top: 2rem;
}

.calendar p {
  font-size: 1.7rem;
  margin-bottom: .3rem;
}

.calendar table {
  border: solid 1px #000;
  border-collapse: separate;
  width: 290px;
  height: 240px;
}

.calendar th {
  border-bottom: 1px solid #000;
  height: 30px;
  font-weight: normal;
}

.calendar td {
  padding: .5rem;
  width: 30px;
  height: 30px;
}


.calendar td:first-child,
.calendar th:first-child {
  color: rgb(243, 67, 67);
}

.calendar td:last-child,
.calendar th:last-child {
  color: royalblue;
}

.calendar td:nth-child(3),
.calendar th:nth-child(3) {
  background-color: rgb(231, 230, 229);
}

.today {
  background-color: rgba(86, 86, 86, 0);
  border: 3px solid;
  border-image: linear-gradient(180deg, rgba(210, 176, 113), rgba(210, 176, 113, 0.3));
  border-image-slice: 1;
}

@media(max-width: 1024px) {
  .logo img {
    width: 75%;
  }

  .logo02 img {
    width: 80%;
    right: 5rem;
  }

  .email,
  .tel {
    display: block;
  }
}

@media(max-width: 959px) {
  html {
    font-size: 55%;
  }

  .concept_right {
    width: 85vw;
    margin: 5rem 2rem;
  }

  .concept {
    margin: 0 auto;
  }

  .logo img {
    width: 60%;
  }

  .logo02 img {
    width: 60%;
  }

  .design_wrapper img {
    width: 35vw;
  }

  .price_wrapper table {
    width: 100%;
  }

  .logo02 {
    right: -6rem;
    bottom: 3rem;
  }

}

@media(max-width: 559px) {
  html {
    font-size: 50%;
    width: 100vw;
  }
  
  .top-slide img {
    width: 97%;
  }
  
  .slick-dotted.slick-slider {
    margin-bottom: 60px;
}

  .logo img {
    width: 55%;
  }

  .logo02 img {
    width: 45%;
  }
 .concept_right {
    width: 100vw;
  }
 
  .news p {
    width: 100vw;
    text-align: center;
  }

  .logo02 {
    right: -9rem;
    bottom: 4rem;
  }

  .concept_left img {
    width: 70%;
  }
  
  .tel{
    width:100vw;
  }

}

@media(max-width: 320px) {
  html {
    font-size: 45%;
  }

  .shop {
    display: block;
  }

  nav ul li a {
    padding: .7rem;
  }
}
